.pie-tooltip {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    font-size: 14px;
    max-width: 300px;
    z-index: 100;
    line-height: 1.4;
  }
  
  .pie-tooltip strong {
    color: #D6FEAE;
    display: block;
    margin-bottom: 5px;
  }