@import "superfluid.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

:root {
  --ifm-color-primary: #0A6643;
  --ifm-color-primary-dark: #87C200;
  --ifm-color-primary-darker: #7FB600;
  --ifm-color-primary-darkest: #689600;
  --ifm-color-primary-light: #A5EC00;
  --ifm-color-primary-lighter: #ADF500;
  --ifm-color-primary-lightest: #BEFF1A;
  --ifm-background-color: #ffffff;
  --ifm-background-image: url('/img/green-glow.png');
  --ifm-color-cards-bg: linear-gradient(137deg, #ffffff, #E5E5E5);
  --ifm-color-cards-title: #2D2D2D;
  --ifm-color-cards-text: #919191;
  --ifm-color-logo: #2D2D2D;
  --ifm-color-text: #2D2D2D;
}

[data-theme='dark'] {
  --ifm-color-primary: #96D700;
  --ifm-color-primary-dark: #87C200;
  --ifm-color-primary-darker: #7FB600;
  --ifm-color-primary-darkest: #689600;
  --ifm-color-primary-light: #A5EC00;
  --ifm-color-primary-lighter: #ADF500;
  --ifm-color-primary-lightest: #BEFF1A;
  --ifm-background-color: #2D2D2D;
  --ifm-background-image: url('/img/blue-glow-bg.png');
  --ifm-color-cards-bg: linear-gradient(137deg, #2D2D2D, #21014D);
  --ifm-color-cards-title: #ffffff;
  --ifm-color-cards-text: #919191;
  --ifm-color-logo: white;
  --ifm-color-text: #ffffff;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--ifm-background-image);
  background-size: 100%;
  background-position: top center;
  background-repeat: repeat-x;
  opacity: 0.2;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 60%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
}

[data-theme='dark'] body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--ifm-background-image);
  background-size: 100%;
  background-position: center;
  background-color:#000000;
  background-repeat: repeat-x;
  opacity: 0.1;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 30%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent);
}

html, body {
  height: 100%;
  margin: 0;
}

[data-theme='dark'] html, body {
  height: 100%;
  margin: 0;
}


