@import "superfluid.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

:root {
  --ifm-color-primary: #1db227;
  --ifm-color-primary-dark: #1aa023;
  --ifm-color-primary-darker: #199721;
  --ifm-color-primary-darkest: #147d1b;
  --ifm-color-primary-light: #20c42b;
  --ifm-color-primary-lighter: #21cd2d;
  --ifm-color-primary-lightest: #30dd3b;
  --ifm-background-color: #ffffff;
  --ifm-color-cards-bg: #E5E5E5;
  --ifm-color-cards-title: #2D2D2D;
  --ifm-color-cards-text: #919191;
  --ifm-color-logo: #2D2D2D;
  --ifm-color-text: #2D2D2D;
}

[data-theme='dark'] {
  --ifm-color-primary: #96D700;
  --ifm-color-primary-dark: #87C200;
  --ifm-color-primary-darker: #7FB600;
  --ifm-color-primary-darkest: #689600;
  --ifm-color-primary-light: #A5EC00;
  --ifm-color-primary-lighter: #ADF500;
  --ifm-color-primary-lightest: #BEFF1A;
  --ifm-background-color: #2D2D2D;
  --ifm-color-cards-bg: #21014D;
  --ifm-color-cards-title: #ffffff;
  --ifm-color-cards-text: #919191;
  --ifm-color-logo: white;
  --ifm-color-text: #ffffff;
  
}

/* Light Mode */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0) 100%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -2;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/dots-grey.png');
  background-repeat: repeat-x;
  background-position: top;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

/* Dark Mode - Exactly the same structure */
[data-theme='dark'] body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(14, 26, 3, 1) 100%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -2;
}

[data-theme='dark'] body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/dots-dark.png');
  background-repeat: repeat-x;
  background-position: top;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

  z-index: -1;
}

html, body {
  height: 100%;
  margin: 0;
}

[data-theme='dark'] html, body {
  height: 100%;
  margin: 0;
}


